<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent" aria-label="Navigation bar">
  <div class="container-fluid">

    <!-- Logo -->
    <a class="d-flex navbar-brand fs-1 fw-semi-bold text-light" href="" routerLink="/home">
      <img class="" height="15%" width="15%" src="../assets/icon/icon-festicar.png" alt="Logo Festicar">
      FESTICAR
    </a>

    <div class="d-flex justify-content-center align-item-center gap-4">
      <!-- Cart Menu Button -->
      <div class="dropdown">
        <a class="dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
          <i class="bi bi-bag-fill icon-regular"></i>
        </a>

        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="" routerLink="/panier">3 articles pour €100</a></li>
        </ul>
      </div>

      <!-- User Menu Button -->
      <div class="dropdown">
        <a class="dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
          <i class="bi bi-person-circle icon-regular"></i>
        </a>

        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" routerLink="/authentication">Se connecter</a></li>
          <li><a class="dropdown-item" routerLink="/authentication">S'enregistrer</a></li>
        </ul>
      </div>
    </div>

  </div>
</nav>