<nav class="navbar">
  <div class="navbar-top">
    <a class="navbar-brand" [routerLink]="'/festivals'">Festicar</a>

    <div class="navbar-end">
      <i
        class="pi pi-shopping-cart mx-5"
        *ngIf="panierService.nbArticles < 1"
        [routerLink]="'/panier'"
      ></i>

      <i
        class="pi pi-shopping-cart mx-5"
        *ngIf="panierService.nbArticles > 0"
        [value]="panierService.nbArticles.toString()"
        [routerLink]="'/panier'"
        pBadge
      ></i>

      <p-menu #profilMenu [model]="profilItems" [popup]="true"></p-menu>
      <i class="pi pi-user" (click)="profilMenu.toggle($event)" ></i>
    </div>
  </div>

  <div class="search-bar">
    <app-commune-input *ngIf="showCommuneSearchInput" placeholder="Saisissez votre commune de départ ... "></app-commune-input>
    <span
      *ngIf="showFestivalSearchInput"
      class="p-input-icon-left w-full"
    >
      <i class="pi pi-search"></i>
      <input class="w-full" type="text" placeholder="Rechercher votre festival ... " pInputText />
    </span>
  </div>
</nav>
