<nav class="navbar">
  <div class="navbar-top">
    <a class="navbar-brand">Festicar</a>

    <div class="navbar-end">
      <p-menu #panierMenu [model]="panierItems" [popup]="true"></p-menu>
      <i class="pi pi-shopping-cart mx-5" (click)="panierMenu.toggle($event)"></i>

      <p-menu #profilMenu [model]="profilItems" [popup]="true"></p-menu>
      <i class="pi pi-user" (click)="profilMenu.toggle($event)" ></i>
    </div>
  </div>

  <div class="search-bar">
    <app-commune-input placeholder="Adresse commune"></app-commune-input>
  </div>
</nav>
