.festival-card {
  position: relative;

  .header {
    display: flex;
    justify-content: space-between;

    .header-left {
      .festival-nom {
        font-weight: bold;
      }

      .festival-domaine {
        display: flex;
        margin-top: .5rem;

        .domaine-principal, .sous-domaine {
          padding: .2rem .5rem;
          margin-right: .3rem;
          border-radius: 4px;
          font-size: small;
          color: white;
        }

        .domaine-principal {
          background-color: #4AD3B8;
        }

        .sous-domaine {
          background-color: #efc428;
        }
      }
    }

    .header-right {
      .place-restante, .place-non-disponible {
        padding: .2rem .5rem;
        border-radius: 4px;
        font-size: small;
        color: white;
      }

      .place-restante {
        background-color: rgb(146, 195, 48);
      }

      .place-non-disponible {
        background-color: rgb(215, 99, 99);
      }
    }
  }

  .festival-tarif {
    width: 100%;
    text-align: right;
    margin-bottom: 1rem;
  }

  .footer {
    display: flex;
    justify-content: space-between;

    .footer-left {
      .festival-date {
        display: flex;
        gap: .8rem;
      }

      .footer-item {
        display: flex;
        align-items: center;

        .pi {
          margin-right: .3rem;
        }

        .item-value {
          font-size: .85rem;
        }
      }
    }
  }
}
