<div class="festival-card mb-5">
  <p-card>
    <div class="m-0">
      <div class="header">
        <div class="header-left">
          <div class="festival-nom">
            {{ festival.nom | truncate: [50] }}
          </div>
          <div class="festival-domaine">
            <div class="domaine-principal">
              {{ festival.nomDomainePrincipal }}
            </div>
            <div class="sous-domaine">
              {{ festival.nomSousDomaine }}
            </div>
          </div>
        </div>

        <div class="header-right">
          <div class="place-restante">
            {{ festival.nombrePass }} places restantes
          </div>
        </div>
      </div>

      <div class="festival-tarif">
        {{ festival.tarifPass | currency: 'EUR' }}
      </div>

      <div class="footer">
        <div class="footer-left">
          <div class="footer-item mb-2">
            <i class="pi pi-map-marker"></i>
            <div class="item-value">
              {{ festival.nomCommune }}
            </div>
          </div>

          <div class="festival-date">
            <div class="footer-item">
              <i class="pi pi-calendar"></i>
              <div class="item-value">{{ festival.dateDebut | date }}</div>
            </div>

            <div class="footer-item">
              <i class="pi pi-calendar-times"></i>
              <div class="item-value">{{ festival.dateFin | date }}</div>
            </div>
          </div>
        </div>

        <div class="footer-right">
          <p-button label="Acheter mes pass" size="small" (click)="onAcheterPass()"></p-button>
        </div>
      </div>
    </div>
  </p-card>
</div>
