<!-- Search section -->
<section class="container">

  <!-- Title and text -->
  <div class="row mt-5">
    <div class="col-12">
      <h1 class="display-1 text-center text-white fw-medium">Chercher un festival</h1>

      <p class="text-center fs-5 text-white">Cherchez un festival par son nom, par sa date de début et de fin, par sa localisation et par son style.
        <br>Cliquez sur un festival et sélectionner les offres de covoiturage désirées qui passe par celui-ci.
        <br>Indiquer le nombre de passe que vous voulez acheter pour ce festival et ajouter les à votre panier.
      </p>
    </div>
  </div>

  <!-- Festival finder -->
  <app-festival-finder></app-festival-finder>

</section>

<!-- Festivals section -->
<section class="container">
  <!-- List of Festival -->
  <app-list-festivals></app-list-festivals>


  <!-- Pagination bottom -->
  <div class="row">
    <div class="col-5">
    </div>
    <div class="col-2">
      <nav class="mt-4" aria-label="Page navigation example">
        <div class="bg-light border-0 rounded-pill">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link text-dark bg-transparent border-0 shadow-none" href="#" aria-label="Previous">
                <i class="bi bi-caret-left-fill"></i>
              </a>
            </li>
            <li class="page-item"><a class="page-link text-secondary bg-transparent border-0" href="#">1</a></li>
            <li class="page-item"><a class="page-link text-secondary bg-transparent border-0" href="#">2</a></li>
            <li class="page-item"><a class="page-link text-secondary bg-transparent border-0" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link text-dark bg-transparent border-0 shadow-none text-decoration-none" href="#" aria-label="Next">
                <i class="bi bi-caret-right-fill"></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-5">
    </div>
  </div>

</section>
