.panier-page {
  padding: 0 10%;
  padding-top: 5rem;
  padding-bottom: 4rem;

  .panier-vide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;

    .message {
      margin-bottom: 2rem;
      color: rgb(127, 126, 126);
    }
  }
}
