<nav style="width: fit-content;">
    <ul class="pagination bg-light border-0 rounded-pill">
      <li
        class="page-item"
        [ngClass]="{'disabled': currentPage <= 1}"
        (click)="previous()"
      >
        <a class="page-link cursor text-dark bg-transparent border-0 shadow-none" role="button">
          <i class="bi bi-caret-left-fill"></i>
        </a>
      </li>

      <li class="page-item" *ngIf="getFirstDisplayedItems() > 1">
        <a class="page-link text-dark bg-transparent border-0 shadow-none" role="button">...</a>
      </li>

      <li
        class="page-item"
        *ngFor="let item of displayedItems"
      >
        <a
          class="page-link border-0 shadow-none"
          role="button"
          [ngClass]="item == currentPage ? ['bg-success','text-light'] : ['bg-transparent','text-dark']"
          (click)="setCurrentPage(item)"
        >
          {{item}}
        </a>
      </li>

      <li class="page-item" *ngIf="getLastDisplayedItems() < totalPages">
        <a class="page-link text-dark bg-transparent border-0 shadow-none" role="button">...</a>
      </li>

      <li
        class="page-item"
        role="button"
        [ngClass]="{'disabled': currentPage > totalPages}"
        (click)="next()"
      >
        <a class="page-link text-dark bg-transparent border-0 shadow-none" role="button">
          <i class="bi bi-caret-right-fill"></i>
        </a>
      </li>
    </ul>
</nav>
