<!-- Festival finder -->
<!-- Search Bar -->
<div class="row mt-5">
  <div class="col-3"></div>
  <div class="col-6 search-container justify-content-center align-item-center">
    <div class="search-bar d-flex bg-light rounded-pill">
      <input type="text" class="form-control search-input bg-transparent border-0 shadow-none" placeholder="Search..." aria-label="Search">
      <button class="btn btn-outline-secondary search-btn bg-transparent border-0" type="button">
        <i class="bi bi-search icon-small-grey" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="col-3"></div>
</div>

<!-- Filtering and Sorting -->
<div class="row m-5">
  <!-- Filtr by Starting date -->
  <div class="col-2 date-input-container justify-content-center align-item-center">
    <label class="text-light ms-3"><i class="bi bi-calendar-check-fill icon-small"></i> Date de début :</label>
    <div class="date-bar bg-light rounded-pill">
      <input type="date" class="form-control search-input bg-transparent border-0 shadow-none">
    </div>
  </div>

  <!-- Filter by Ending date -->
  <div class="col-2 date-input-container justify-content-center align-item-center">
    <label class="text-light ms-3"><i class="bi bi-calendar-x-fill icon-small"></i> Date de fin :</label>
    <div class="date-bar bg-light rounded-pill">
      <input type="date" class="form-control search-input bg-transparent border-0 shadow-none">
    </div>
  </div>

  <!-- Filter by Location -->
  <div class="col-3">
    <label class="text-light ms-3"><i class="bi bi-geo-alt-fill icon-small"></i> Localisation :</label>
    <select class="form-control rounded-pill shadow-none" id="exampleSelect">
      <option value="option1">Option 1</option>
      <option value="option2">Option 2</option>
    </select>
  </div>

  <!-- Filter by Style -->
  <div class="col-3">
    <label class="text-light ms-3"><i class="bi bi-balloon-fill icon-small"></i> Style :</label>
    <select class="form-control rounded-pill shadow-none" id="exampleSelect">
      <optgroup label="Group 1">
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
      </optgroup>
      <optgroup label="Group 2">
        <option value="option3">Option 3</option>
        <option value="option4">Option 4</option>
      </optgroup>
      <optgroup label="Group 3">
        <option value="option5">Option 5</option>
        <option value="option6">Option 6</option>
      </optgroup>
    </select>
  </div>

  <!-- Sort by Price -->
  <div class="col-2">
    <label class="text-light ms-3"><i class="bi bi-currency-exchange icon-small"></i> Trier prix :</label>
    <select class="form-control rounded-pill shadow-none" id="exampleSelect">
      <option value="option1">Prix croissant</option>
      <option value="option2">Prix décroissant</option>
    </select>
  </div>
</div>
