<div class="covoiturage-card mb-5">
  <p-card>
    <div class="m-0">
      <div class="departure-date">{{ offreCovoiturage.dateOffre | date }}</div>
      <div class="header">
        <div class="flex align-items-center">
          <div class="mr-3">
            <p-avatar [image]="offreCovoiturage.covoitureur.urlPhoto" size="xlarge" shape="circle"/>
          </div>
          <div class="covoitureur-description">
            <div class="covoitureur-name">{{ offreCovoiturage.covoitureur.prenom }} {{ offreCovoiturage.covoitureur.nom }}</div>
            <div class="covoitureur-vehicle">
              <i class="pi pi-car mr-2"></i> {{ offreCovoiturage.modeleVoiture }}
            </div>
            <div class="covoitureur-contact">
              <i class="pi pi-phone mr-2"></i>
              {{ offreCovoiturage.covoitureur.numeroTelephone }}
            </div>
          </div>
        </div>
        <div class="covoiturage-price">{{ offreCovoiturage.pointPassagePlusProche?.prix | currency: 'EUR' }}</div>
      </div>

      <div class="flex justify-content-between align-items-end">
        <p-timeline [value]="getTrajetInfo()">
          <ng-template pTemplate="content" let-event>
              {{ event.adresse }}
          </ng-template>
          <ng-template pTemplate="opposite" let-event>
            {{ event.date | date: 'dd/MM/yyyy hh:mm' }}
        </ng-template>
        </p-timeline>


          <div class="flex flex-column align-items-end w-4" *ngIf="offreCovoiturage.nombrePlaces > 0">
            <div class="mb-2 text-left w-7rem" for="">Places : </div>
            <p-inputNumber
              [showButtons]="true"
              [(ngModel)]="nbPlacePrise"
              (ngModelChange)="onChangeNbPlacePrise()"
              buttonLayout="horizontal"
              spinnerMode="horizontal"
              inputId="horizontal"
              decrementButtonClass="p-button-secondary"
              incrementButtonClass="p-button-secondary"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              [min]="0"
              [max]="offreCovoiturage.nombrePlaces"
            />
          </div>

          <div *ngIf="offreCovoiturage.nombrePlaces < 1" class="flex flex-column align-items-end w-4">
            <span style="color: red">Voiture pleine</span>
          </div>

      </div>

    </div>
  </p-card>
</div>
