<div class="covoiturage-card mb-5">
  <p-card>
    <div class="m-0">
      <div class="departure-date">{{ offreCovoiturage.dateOffre| date }}</div>
      <div class="header">
        <div class="flex align-items-center">
          <div class="mr-3">
            <p-avatar image="https://thispersondoesnotexist.com/" size="xlarge" shape="circle"/>
          </div>
          <div class="covoitureur-description">
            <div class="covoitureur-name">{{ offreCovoiturage.covoitureur.prenom }} {{ offreCovoiturage.covoitureur.nom }}</div>
            <div class="covoitureur-vehicle">
              <i class="pi pi-car mr-2"></i> {{ offreCovoiturage.modeleVoiture }}
            </div>
          </div>
        </div>
        <div class="covoiturage-price">{{ offreCovoiturage.pointPassagePlusProche?.prix | currency }}</div>
      </div>

      <div class="flex justify-content-between align-items-end">
        <p-timeline [value]="getTrajetInfo()">
          <ng-template pTemplate="content" let-event>
              {{ event.adresse }}
          </ng-template>
          <ng-template pTemplate="opposite" let-event>
            {{ event.date }}
        </ng-template>
        </p-timeline>


          <div class="flex flex-column align-items-end w-4">
            <div class="mb-2 text-left w-7rem" for="">Places : </div>
            <p-inputNumber
              [showButtons]="true"
              buttonLayout="horizontal"
              spinnerMode="horizontal"
              inputId="horizontal"
              decrementButtonClass="p-button-secondary"
              incrementButtonClass="p-button-secondary"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
            />
          </div>

      </div>

    </div>
  </p-card>
</div>
