.covoiturage-page {
  padding: 0 10%;
  padding-top: 7rem;
  padding-bottom: 4rem;

  .sort-section {
    position: relative;

    .footer-item {
      display: flex;
      align-items: center;

      .pi {
        margin-right: .3rem;
      }

      .item-value {
        font-size: .85rem;
      }
    }

    .sticky-section {
      position: fixed;
      top: 6.5rem;
      width: 30%;
      min-width: 16rem;
      max-width: 25rem;
    }

    .titre {
      font-weight: bold;
    }

    .filter-input {
      padding: .7rem 1.5rem;
    }

    .date-input {
      width: 5rem;
      height: 10rem;
    }
  }

  .main-section {
    padding-left: 40%;
  }
}
