<div data-cy="covoiturage-page" class="covoiturage-page">
  <div class="sort-section">
    <div class="sticky-section">
      <div class="section-trier">
        <div class="filter-input font-bold">
          <p-card>
            <div class="m-0">
              <div class="font-bold mb-2">{{ this.offreCovoiturageService.currentFestival?.nom }}</div>

              <div class="footer-item mb-2">
                <i class="pi pi-map-marker"></i>
                <div class="item-value">
                  {{ this.offreCovoiturageService.currentFestival?.nomCommune }}, {{ this.offreCovoiturageService.currentFestival?.codePostalCommune }}
                </div>
              </div>

              <div class="festival-date flex align-items-center gap-3 mb-2">
                <div class="footer-item">
                  <i class="pi pi-calendar"></i>
                  <div class="item-value">{{ this.offreCovoiturageService.currentFestival?.dateDebut | date }}</div>
                </div>

                <div class="footer-item">
                  <i class="pi pi-calendar-times"></i>
                  <div class="item-value">{{ this.offreCovoiturageService.currentFestival?.dateFin | date }}</div>
                </div>
              </div>
              <p-avatar [label]="getQteDisplay()" styleClass="qte-indicator" size="large"></p-avatar>
            </div>
          </p-card>
        </div>

        <p-divider align="left" type="solid">
          <div class="titre">Rechercher au alentour</div>
        </p-divider>
        <div class="filter-input">
          <app-commune-input></app-commune-input>
        </div>

        <p-divider align="left" type="solid">
          <div class="titre">Trier</div>
        </p-divider>
        <app-sort-item iconClass="pi pi-calendar-times" label="Début le plus proche" />
        <app-sort-item iconClass="pi pi-money-bill" label="Prix croissant" />
        <app-sort-item iconClass="pi pi-angle-double-right" label="Le plus proche" />
      </div>
    </div>
  </div>


  <div class="main-section">
      <app-covoiturage-card
        *ngFor="let offre of this.offreCovoiturageService.offreCovoiturages"
        [offreCovoiturage]="offre"
        [festival]="this.offreCovoiturageService.currentFestival"
        (reserverPlace)="reserverPlaceCovoiturage($event)"
      />

      <div class="flex justify-content-center mb-5" *ngIf="offreCovoiturageService.offreCovoituragesIsLoading">
        <div class="loader text-center">
          <p-progressSpinner styleClass="w-4rem h-4rem"/>
          <div>Chargement ...</div>
        </div>
      </div>
  </div>
</div>

<app-footer-action [disabled]="reservations.length < 1" (clickRightButton)="addArticlesAuPanier()"/>
