<div class="covoiturage-page">
  <div class="sort-section">
    <app-sort-item iconClass="pi pi-calendar-times" label="Départ le plus tôt" />
    <app-sort-item iconClass="pi pi-money-bill" label="Prix le plus bas" />
    <app-sort-item iconClass="pi pi-angle-double-right" label="Le plus proche" />
  </div>

  <div class="main-section">
      <app-covoiturage-card
        *ngFor="let offre of this.offreCovoiturageService.offreCovoiturages"
        [offreCovoiturage]="offre"
        [festival]="this.offreCovoiturageService.currentFestival"
      />

      <div class="flex justify-content-center mb-5" *ngIf="offreCovoiturageService.offreCovoituragesIsLoading">
        <div class="loader text-center">
          <p-progressSpinner styleClass="w-4rem h-4rem"/>
          <div>Chargement ...</div>
        </div>
      </div>
  </div>
</div>
