<div data-cy="festival-page" class="festival-page">
  <div data-cy="festival-filter-section" class="sort-section">
    <div class="sticky-section">
      <div class="section-filtrer">
        <p-divider align="left" type="solid">
          <div class="titre">Recherche de festival</div>
        </p-divider>
        <div class="filter-input">
          <span class="p-input-icon-left w-full">
            <i class="pi pi-search"></i>
            <input class="w-full p-inputtext-sm" [(ngModel)]="festivalSearchValue" type="search" placeholder="Rechercher votre festival ... " pInputText />
          </span>
          <p-button styleClass="w-full mt-3" label="Rechercher" size="small" (click)="getFestivalByName()"/>
        </div>
        <p-divider align="left" type="solid">
          <div class="titre">Filtrer</div>
        </p-divider>

        <div class="filter-input">
          <p-dropdown
            [options]="filterOptions"
            [(ngModel)]="selectedFilterOption"
            [showClear]="true"
            placeholder="Choisir l'option de filtre"
            class="p-inputtext-sm"
          ></p-dropdown>
        </div>

        <div class="filter-input" *ngIf="showCommuneFilter()">
          <app-commune-input (selectCommune)="onSelectCommune($event)"></app-commune-input>
          <p-button styleClass="w-full mt-3" label="Filtrer" size="small" (click)="filterByCommune()"/>
        </div>
        <div class="filter-input" *ngIf="showDateDebutFilter()">
          <input [(ngModel)]="dateDebutFilterValue" type="date" placeholder="Date début" class="p-inputtext-sm" pInputText />
          <p-button styleClass="w-full mt-3" label="Filtrer" size="small" (click)="filterByDateDebut()"/>
        </div>
        <div class="filter-input" *ngIf="showDomaineFilter()">
          <p-dropdown
            [options]="domaineService.domainePrincipalsString"
            [(ngModel)]="domaineFilterValue"
            class="p-inputtext-sm"
            placeholder="Domaine du festival"
            [editable]="true"/>
            <p-button styleClass="w-full mt-3" label="Filtrer" size="small" (click)="filterByDomaine()"/>
        </div>
      </div>

      <div class="section-trier">
        <p-divider align="left" type="solid">
          <div class="titre">Trier</div>
        </p-divider>
        <app-sort-item iconClass="pi pi-calendar-times" label="Début le plus proche" />
        <app-sort-item iconClass="pi pi-money-bill" label="Prix croissant" />
        <app-sort-item iconClass="pi pi-angle-double-right" label="Le plus proche" />
      </div>
    </div>
  </div>

  <p-dialog
    [header]="festivalsService.selectedFestival?.nom"
    [(visible)]="modalFestivalIsVisible"
    [modal]="true"
    [style]="{ width: '50vw', maxWidth: '40rem', minWidth: '23rem' }"
  >
    <div class="m-0">
      <div class="choix-quantite mb-4">
        <span class="mr-5">Quantité de pass:</span>
        <p-inputNumber
          [showButtons]="true"
          [(ngModel)]="qtePass"
          buttonLayout="horizontal"
          spinnerMode="horizontal"
          inputId="horizontal"
          decrementButtonClass="p-button-secondary"
          incrementButtonClass="p-button-secondary"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
          [min]="1"
          [max]="festivalsService.selectedFestival?.nombrePass"
        />
      </div>
      <p-button
        data-cy="ajout-au-panier-btn"
        label="Ajouter au panier"
        size="small"
        styleClass="w-full"
        [disabled]="!(qtePass > 0)"
        (click)="onAjouterAuPanier()"
      />
    </div>
  </p-dialog>

  <p-dialog
    [(visible)]="modalConnexionIsVisible"
    [modal]="true"
    [style]="{ width: '50vw', maxWidth: '40rem', minWidth: '23rem' }"
  >
    <div class="m-0">
      <app-authentication (connected)="onConnected()"></app-authentication>
    </div>
  </p-dialog>

  <div class="main-section">
    <app-festival-card
      *ngFor="let festival of festivalsService.festivals"
      [festival]="festival"
      (acheterPass)="onAcheterPassFestival($event)"
    />

    <div class="flex justify-content-center mb-5" *ngIf="festivalsService.festivalsIsLoading">
      <div class="loader text-center">
        <p-progressSpinner styleClass="w-4rem h-4rem"/>
        <div>Chargement ...</div>
      </div>
    </div>

    <div class="card flex justify-content-center">
        <p-paginator
          (onPageChange)="onPageChange($event)"
          [first]="this.festivalsService.pagination.first"
          [rows]="this.festivalsService.pagination.rows"
          [totalRecords]="this.festivalsService.pagination.totalOfElements"
          [rowsPerPageOptions]="[10, 20, 30]"
        ></p-paginator>
    </div>
  </div>
</div>
