<div class="location-input">
  <i class="pi pi-map-marker"></i>
  <p-autoComplete
    [placeholder]="placeholder"
    [(ngModel)]="selectedCommune"
    (ngModelChange)="onSelectCommune()"
    [suggestions]="communeSuggestions"
    [minLength]="1"
    (completeMethod)="filterCommune($event)"
    field="nom"
    class="p-inputtext-sm"
    type="search"
  >
    <ng-template let-commune pTemplate="item">
      <div>{{ commune.nom }} {{ commune.codePostal }}</div>
    </ng-template>
  </p-autoComplete>
</div>
