<p>panier-modifier works!</p>

<!-- Modifiers -->
<div class="container">
  <div class="row mt-4">
    <div class="col-2">
      <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
      <label class="btn btn-outline-light rounded-pill" for="btn-check-outlined">
        <i class="bi bi-check2-square"></i> Tout sélectionner
      </label><br>
    </div>

    <div class="col-2">
      <button type="button" class="btn btn-danger rounded-pill">
        <i class="bi bi-trash-fill"></i>
        Tout supprimer
      </button>
    </div>

    <div class="col">
    </div>

    <div class="col-2">
    </div>

  </div>
</div>