/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";


.navbar {
  i {
    cursor: pointer;
  }

  .p-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    min-width: 1rem;
    font-size: .5rem;
  }
}

.sort-section {
  .p-calendar {
    width: 100%;
  }

  .p-inputtext, .p-dropdown {
    width: 100%;
  }
}

/***********************
* Commune search bar *
************************/

.location-input {
  position: relative;

  .p-autocomplete {
    width: 100%;
  }

  .p-inputtext {
    width: 100%;
    padding-left: 3rem;
  }

  .pi.pi-map-marker {
    z-index: 999;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

/***********************
* festival Page *
************************/

.festival-page {
  .choix-quantite {
    input.p-inputnumber-input  {
      width: 3rem;
      height: 2rem;

      &.p-inputtext {
        text-align: center;
      }
    }

    button.p-button {
      width: 2rem;
      height: 2rem;
    }
  }

  .festival-card {
    .p-card {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .p-card-content {
      padding: 0;
    }

    .ng-star-inserted {
      max-width: 40rem;
    }
  }
}

/***********************
* Article Card *
************************/

.article-card {
  .p-card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .p-card-content {
    padding: 0;
  }

  .p-divider.p-divider-vertical:before {
    border-left: solid 2px #ebebeb;
  }

  .p-avatar.p-avatar-image {
    border: #0375DA solid .2rem;
  }

  .p-timeline-event {
    font-weight: bold;
    font-size: .8;
  }

  .p-timeline-event-opposite {
    max-width: 5rem;
    padding-left: 0;
    text-align: center;
  }
}

/***********************
* Covoiturage Card *
************************/

.covoiturage-card {
  .p-card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .p-card-content {
    padding: 0;
  }

  .p-timeline-event {
    font-weight: bold;
    font-size: .8;
  }

  .p-timeline-event-opposite {
    max-width: 5rem;
    padding-left: 0;
    text-align: center;
  }

  button.p-button {
    width: 2rem;
    height: 2rem;
  }

  input.p-inputnumber-input  {
    width: 3rem;
    height: 2rem;

    &.p-inputtext {
      text-align: center;
    }
  }

  .p-avatar.p-avatar-image {
    border: #0375DA solid .2rem;
  }
}



$primary-dark: #222;
$secondary-grey: #888;
$light-white: #fff;
$regular-jade: #008080;
$lighter-jade: #00e6e6;
$regular-green: #00b368;
$lighter-green: #00ff55;

$icon-large: 40px;
$icon-regular: 30px;
$icon-small: 20px;

body {
//   background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
//     url("./assets/img/annecy-france-europe-fireworks-event-festival.jpg");
  // background-image: linear-gradient($regular-jade, $regular-green);
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
  // min-height: 100vh;
}

.color-regular-jade {
    background-color: $regular-jade;
}

.color-lighter-jade {
    background-color: $lighter-jade;
}

.color-regular-green {
    background-color: $regular-green;
}

.color-lighter-green {
    background-color: $lighter-green;
}

.icon-regular {
    color: $light-white;
    font-size: $icon-regular;
}

.icon-regular-grey {
    color: $secondary-grey;
    font-size: $icon-regular;
}

.icon-regular-dark {
    color: $primary-dark;
    font-size: $icon-regular;
}

.icon-small {
    color: $light-white;
    font-size: $icon-small;
}

.icon-small-grey {
    color: $secondary-grey;
    font-size: $icon-small;
}

.icon-small-dark {
    color: $primary-dark;
    font-size: $icon-small;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}
