/* You can add global styles to this file, and also import other style files */
body {
//   background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
//     url("./assets/img/annecy-france-europe-fireworks-event-festival.jpg");
  background-image: linear-gradient(rgba(0, 80, 64, 0.8), rgba(0, 0, 0, 0.8));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
