<!-- Checkbox -->
<div class="form-check mt-3">
  <input type="checkbox" class="btn-check" id="article-checkbox1" autocomplete="off">
  <label class="btn rounded-pill btn-outline-light" for="article-checkbox1">
    <i class="bi bi-check2-square"></i>
    Sélectionner article</label><br>
</div>
<!-- Article -->
<app-article></app-article>

<!-- Checkbox -->
<div class="form-check mt-3">
  <input type="checkbox" class="btn-check" id="article-checkbox2" autocomplete="off">
  <label class="btn rounded-pill btn-outline-light" for="article-checkbox2">
    <i class="bi bi-check2-square"></i>
    Sélectionner article</label><br>
</div>
<!-- Article -->
<app-article></app-article>